{% extends 'blog/base.html' %}
{% block content%}
    <h1>Hello!</h1>
    <p>My name is Aidan Shea and I am a sophomore at Boston College. At BC I study a range of topics, and will major in Computer Science and Economics.
    Aside from academics, I am a violinist and a member of the Boston College Symphony Orchestra and Chamber Music Society.</p>
    <p></p>
    <p>This blog was made for two reasons. One, I wanted to further experiment with making and customizing a web app using the Django framework and two,
    I wanted to talk about some of the asssignments I completed for my CSII class last year during spring semester. </p>
    <p></p>
    <p>Thank you for viewing!</p>
{% endblock content%}
